version: "3.5"
services:
  geth:
    build:
      context: geth
      args:
        UPSTREAM_VERSION: v1.16.6
        STAKER_SCRIPTS_VERSION: v0.1.2
    environment:
      EXTRA_OPTS: ""
      SYNCMODE: snap
    restart: unless-stopped
