name: Bump Upstream version

on:
  workflow_dispatch:
  schedule:
    - cron: "00 */4 * * *"
  push:
    branches:
      - "master"

jobs:
  bump-upstream:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npx @dappnode/dappnodesdk github-action bump-upstream --use-variants
        env:
          GITHUB_TOKEN: ${{ secrets.DAPPNODE_ACTIONS_PR_CREATOR }}
          PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
          PINATA_SECRET_API_KEY: ${{ secrets.PINATA_SECRET_API_KEY }}
