name: Staker Test

on:
  workflow_dispatch:
    inputs:
      consensus_client:
        description: 'Consensus client (lodestar, teku, prysm, nimbus, lighthouse)'
        required: true

jobs:
  build-test:
    runs-on: staking-test-hoodi
    name: Build test
    steps:
      - uses: actions/checkout@v6
      - run: |
          npx @dappnode/dappnodesdk build \
            --provider=http://$(docker inspect DAppNodeCore-ipfs.dnp.dappnode.eth \
              --format '{{.NetworkSettings.Networks.dncore_network.IPAddress}}'):5001 \
            --variant=hoodi

  staker-test:
    runs-on: staking-test-hoodi
    steps:
      - uses: actions/checkout@v6

      - name: Get IPFS hash
        id: ipfs
        run: |
          HASH=$(jq -r '
            to_entries
            | sort_by(.key | split(".") | map(tonumber))
            | last
            | .value.hash
          ' ./package_variants/hoodi/releases.json)

          echo "hash=$HASH" >> "$GITHUB_OUTPUT"

      - name: Run Staker Test Runner
        run: |
          docker run --rm \
            --network dncore_network \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v /var/lib/docker/volumes:/var/lib/docker/volumes \
            -e IPFS_GATEWAY_URL=http://ipfs.dappnode:8080 \
            -e IPFS_HASH=${{ steps.ipfs.outputs.hash }} \
            -e EXECUTION_CLIENT=geth \
            -e CONSENSUS_CLIENT=${{ github.event.inputs.consensus_client }} \
            -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
            -e GITHUB_REPOSITORY=${{ github.repository }} \
            -e GITHUB_PR_NUMBER=${{ github.event.pull_request.number }} \
            -e GITHUB_RUN_ID=${{ github.run_id }} \
            -e GITHUB_SERVER_URL=${{ github.server_url }} \
            ghcr.io/dappnode/staker-test-util/test-runner:latest
